* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*Aquí empieza el contenedor de inicio de mi portafolio*/

.main_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 57.45rem;
}

.background-image img {
    width: 100%;
    height: 100%;
}

.introduction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.despcription h3 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.phrase h4 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1.5rem;
}

.linea {
    border: none;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 255, 0, 0.5);
    width: 50%;
    margin: 10px auto;
}

/*Aquí termina el contenedor de inicio de mi portafolio*/

/* Aquí empieza el Scroll dowm(deslizar hacia abajo)*/
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll-down a {
    display: block;
    width: 5rem;
    height: 12rem;
    position: relative;
    animation: scrollBounce 2s infinite;
}

.scroll-down a img {
    position: absolute;
    top: 7.5rem;
    left: -1rem;
    transform: translate(-50%, -50%);
    border-width: 0 3px 3px 0;
    padding: 2rem;
    display: block;
    width: 2rem;
    height: 3rem;
    transform: rotate(1deg);
}

@keyframes scrollBounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(13px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Aquí empieza el Scroll dowm(deslizar hacia abajo)*/

/*Aquí empieza el Navbar*/
.Navbar {
    background-color: #333;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    font-weight: 500;
}

.Navbar h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-top: -1rem;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: -1rem;
}

.Navbar li {
    margin-right: 20px;
}

.Navbar a {
    color: white;
    text-decoration: none;
    margin-top: -1rem;
    border-bottom: none;
}

.Navbar a.active {
    border-bottom: 1px solid #66FCF1;
}

.Navbar a:hover {
    border-bottom: 1px solid #66FCF1;
    transition: border-bottom 0.3s ease;
}
/*Aquí termina el Navbar*/

.welcome{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}