* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

/*Aquí empieza el contenedor de inicio de mi portafolio*/

.main_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 59.5rem;
}

.background-image img {
    width: 100%;
    height: 100%;
}

.introduction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.despcription h3 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.phrase h4 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1.5rem;
}

.linea {
    border: none;
    background-color: white;
    width: 50%;
    margin: 10px auto;
}

/*Aquí termina el contenedor de inicio de mi portafolio*/

/* Aquí empieza el Scroll dowm(deslizar hacia abajo)*/
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll-down a {
    display: block;
    width: 5rem;
    height: 12rem;
    position: relative;
    animation: scrollBounce 2s infinite;
}

.scroll-down a img {
    position: absolute;
    top: 7.5rem;
    left: -1rem;
    transform: translate(-50%, -50%);
    border-width: 0 3px 3px 0;
    padding: 2rem;
    display: block;
    width: 2rem;
    height: 3rem;
    transform: rotate(1deg);
}

@keyframes scrollBounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(13px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Aquí termina el Scroll dowm(deslizar hacia abajo)*/

/*Aquí empieza el Navbar*/
.Navbar {
    background-color: #1A1A1A;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    font-weight: 500;
}

.Navbar h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-top: -1rem;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: -1rem;
}

.Navbar li {
    margin-right: 20px;
}

.Navbar a {
    color: white;
    text-decoration: none;
    position: relative;
}

.Navbar a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.Navbar a:hover::after {
    transform: scaleX(1);
}

/*Aquí termina el Navbar*/

/*Aquí empieza el apartado de habilidades*/
.welcome h1 {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
}

.welcome p {
    position: relative;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.cards_container {
    margin-top: 4rem;
    margin-inline: 7rem;
    padding-block: 5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 17rem;
    row-gap: 5rem;
    margin-left: 7rem;
}

/*Contenedores individuales de cada lenguaje y framework*/
.card__article_HTML {
    position: relative;
    overflow: hidden;
    height: 19rem;
    margin-left: -5rem;
    width: 21rem;
    box-shadow: 0 8px 24px hsla(19, 100%, 40%, 0.15);
    margin-top: -2rem;
    border-radius: 20px;
}

.card__article_CSS {
    position: relative;
    margin-top: -2rem;
    overflow: hidden;
    width: 21rem;
    height: 19rem;
    box-shadow: 0 8px 24px hsla(241, 100%, 40%, 0.15);
    border-radius: 20px;
    margin-left: -12rem;
}

.card__article_JAVA {
    position: relative;
    margin-top: -1.8rem;
    overflow: hidden;
    height: 19rem;
    width: 21rem;
    box-shadow: 0 8px 24px hsla(61, 100%, 40%, 0.15);
    border-radius: 20px;
    margin-left: -13rem;
}

.card__article_REACT {
    position: relative;
    overflow: hidden;
    width: 21rem;
    height: 19rem;
    box-shadow: 0 8px 24px hsla(207, 100%, 50%, 0.15);
    border-radius: 20px;
    margin-left: -13rem;
    margin-top: -1.5rem;
}

/*Contenedores individuales de cada lenguaje y framework*/


/*Imagenes de lenguajes*/
.card__img_HTML {
    width: 20rem;
    border-radius: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
}

.card__img_CSS {
    width: 11rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.card__img_JAVA {
    width: 11rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 4.7rem;
    margin-top: 1rem;
}

.card__img_REACT {
    width: 11rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 5.5rem;
    margin-top: 1rem;
}

/*Imagenes de lenguajes*/

.card__data_HTML {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    margin-left: 0.4rem;
}

.card__data_CSS {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    margin-left: 0.4rem;
}

.card__data_JAVA {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__data_REACT {
    width: 260px;
    /* background-color: var(--container-color); */
    padding: 1.5rem 2rem;
    /* box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15); */
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
    margin-left: -0.5rem;
}

/*Animaciones de los hover de las cartas*/

.card__article_HTML:hover .card__data_HTML {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_HTML:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_CSS:hover .card__data_CSS {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_CSS:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_JAVA:hover .card__data_JAVA {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_JAVA:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_REACT:hover .card__data_REACT {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_REACT:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_HTML:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_HTML:not(:hover) .card__data_HTML {
    animation: remove-data 1s forwards;
}

.card__article_CSS:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_CSS:not(:hover) .card__data_CSS {
    animation: remove-data 1s forwards;
}

.card__article_JAVA:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_JAVA:not(:hover) .card__data_JAVA {
    animation: remove-data 1s forwards;
}

.card__article_REACT:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_REACT:not(:hover) .card__data_REACT {
    animation: remove-data 1s forwards;
}

/*Animaciones de las cartas*/

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/*Aquí termina el apartado de habilidades*/

/*Inicio de las barras de progreso de los lenguajes*/

.progress_HTML {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #E34E26;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_HTML::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #E34E26, #E34E26);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #EF642A;
    animation: progress_HTML 2s linear infinite;
}

@keyframes progress_HTML {

    50%,
    100% {
        width: 80%;
    }
}

.progress_CSS {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #2D54E5;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_CSS::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #2D54E5, #2D54E5);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #2D54E5;
    animation: progress_CSS 2s linear infinite;
}

@keyframes progress_CSS {

    50%,
    100% {
        width: 80%;
    }
}

.progress_JAVA {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #EFD81D;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_JAVA::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #EFD81D, #EFD81D);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #EFD81D;
    animation: progress_JAVA 2s linear infinite;
}

@keyframes progress_JAVA {

    50%,
    100% {
        width: 40%;
    }
}

.progress_REACT {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #1399C4;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_REACT::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #1399C4, #1399C4);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #1399C4;
    animation: progress_REACT 2s linear infinite;
}

@keyframes progress_REACT {

    50%,
    100% {
        width: 60%;
    }
}

/*Fin de las barras de progreso de los lenguajes*/

/*Responsive*/


@media screen and (max-width:340px) {
    .cards_container {
        margin-inline: 1rem;
    }

    .card__data_HTML {
        width: 230px;
        padding: 1rem;
    }

    .card__data_CSS {
        width: 230px;
        padding: 1rem;
    }

    .card__data_JAVA {
        width: 230px;
        padding: 1rem;
    }

    .card__data_REACT {
        width: 230px;
        padding: 1rem;
    }
}