* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

/*Aquí empieza el contenedor de inicio de mi portafolio*/

.main_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 59.5rem;
}

.background-image img {
    width: 100%;
    height: 100%;
}

.introduction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.despcription h3 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.phrase h4 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1.5rem;
}

.linea {
    border: none;
    background-color: white;
    width: 50%;
    margin: 10px auto;
}

/*Aquí termina el contenedor de inicio de mi portafolio*/

/* Aquí empieza el Scroll dowm(deslizar hacia abajo)*/
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll-down a {
    display: block;
    width: 5rem;
    height: 12rem;
    position: relative;
    animation: scrollBounce 2s infinite;
}

.scroll-down a img {
    position: absolute;
    top: 7.5rem;
    left: -1rem;
    transform: translate(-50%, -50%);
    border-width: 0 3px 3px 0;
    padding: 2rem;
    display: block;
    width: 2rem;
    height: 3rem;
    transform: rotate(1deg);
}

@keyframes scrollBounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(13px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Aquí termina el Scroll dowm(deslizar hacia abajo)*/

/*Aquí empieza el Navbar*/

.Header {
    position: relative;
    top: 0;
    left: 0;
    padding: 1.3rem 10%;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease;
}

.Header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1000; 
    background-color: #1A1A1A;
}

.Header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #1A1A1A;
    z-index: -1;
}

.Navbar {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.Navbar a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 1.15rem;
    font-weight: 500;
    margin-left: 2.5rem;
    cursor: pointer;
    margin-top: -1rem;
}

.Navbar a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.Navbar a:hover::after {
    transform: scaleX(1);
}

.home-link {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.icons {
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    right: 5%;
}

#check {
    display: none;
}

/*Aquí termina el Navbar*/

/*Aquí empieza el apartado de habilidades*/
.welcome h1 {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 5rem;
}

.welcome p {
    position: relative;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.cards_container {
    margin-top: 4rem;
    margin-inline: 7rem;
    padding-block: 5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 17rem;
    row-gap: 5rem;
    margin-left: 7rem;
}

/*Contenedores individuales de cada lenguaje y framework*/
.card__article_HTML {
    position: relative;
    overflow: hidden;
    height: 19rem;
    margin-left: -5rem;
    width: 21rem;
    box-shadow: 0 8px 24px hsla(19, 87%, 53%, 1);
    margin-top: -2rem;
    border-radius: 20px;
}

.card__article_CSS {
    position: relative;
    margin-top: -2rem;
    overflow: hidden;
    width: 21rem;
    height: 19rem;
    box-shadow: 0 8px 24px hsla(212, 87%, 53%, 1);
    border-radius: 20px;
    margin-left: -12rem;
}

.card__article_JAVA {
    position: relative;
    margin-top: -1.8rem;
    overflow: hidden;
    height: 19rem;
    width: 21rem;
    box-shadow: 0 8px 24px hsla(61, 87%, 53%, 1);
    border-radius: 20px;
    margin-left: -13rem;
}

.card__article_REACT {
    position: relative;
    overflow: hidden;
    width: 21rem;
    height: 19rem;
    box-shadow: 0 8px 24px hsla(207, 87%, 53%, 1);
    border-radius: 20px;
    margin-left: -13rem;
    margin-top: -1.5rem;
}

.card__article_POSTGRES {
    position: relative;
    overflow: hidden;
    width: 21rem;
    height: 19rem;
    box-shadow: 0 8px 24px hsla(212, 87%, 53%, 1);
    border-radius: 20px;
    margin-left: -5rem;
    margin-top: -1.5rem;
}

.card__article_MYSQL {
    position: relative;
    overflow: hidden;
    width: 21rem;
    height: 19rem;
    box-shadow: 0 8px 24px hsla(210, 87%, 53%, 1);
    border-radius: 20px;
    margin-left: -12rem;
    margin-top: -1.5rem;
}

.card__article_GITHUB {
    position: relative;
    overflow: hidden;
    width: 21rem;
    height: 19rem;
    box-shadow: 0 8px 24px hsla(220, 40%, 20%, 1);
    border-radius: 20px;
    margin-left: -13rem;
    margin-top: -1.5rem;
}

.card__article_GIT {
    position: relative;
    overflow: hidden;
    width: 21rem;
    height: 19rem;
    box-shadow: 0 8px 24px hsla(19, 87%, 53%, 1);
    border-radius: 20px;
    margin-left: -13rem;
    margin-top: -1.5rem;
}

/*Contenedores individuales de cada lenguaje y framework*/


/*Imagenes de lenguajes*/
.card__img_HTML {
    width: 20rem;
    border-radius: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
}

.card__img_CSS {
    width: 11rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.card__img_JAVA {
    width: 11rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

.card__img_REACT {
    width: 11rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

.card__img_POSTGRES {
    width: 11rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

.card__img_MYSQL {
    width: 18rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card__img_GITHUB {
    width: 12rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 4.3rem;
    margin-top: 1rem;
}

.card__img_GIT {
    width: 12rem;
    height: 11rem;
    border-radius: 1.5rem;
    margin-left: 4.3rem;
    margin-top: 1rem;
}

/*Imagenes de lenguajes*/

.card__data_HTML {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    margin-left: 0.4rem;
}

.card__data_CSS {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    margin-left: 0.4rem;
}

.card__data_JAVA {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__data_REACT {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__data_POSTGRES {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__data_MYSQL {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__data_GITHUB {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__data_GIT {
    width: 260px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -5.8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
    margin-left: -0.5rem;
}

/*Animaciones de los hover de las cartas*/

.card__article_HTML:hover .card__data_HTML {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_HTML:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_CSS:hover .card__data_CSS {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_CSS:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_JAVA:hover .card__data_JAVA {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_JAVA:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_REACT:hover .card__data_REACT {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_REACT:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_POSTGRES:hover .card__data_POSTGRES {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_POSTGRES:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_MYSQL:hover .card__data_MYSQL {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_MYSQL:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_GITHUB:hover .card__data_GITHUB {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_GITHUB:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_GIT:hover .card__data_GIT {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article_GIT:hover {
    animation: remove-overflow 2s forwards;
}

.card__article_HTML:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_HTML:not(:hover) .card__data_HTML {
    animation: remove-data 1s forwards;
}

.card__article_CSS:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_CSS:not(:hover) .card__data_CSS {
    animation: remove-data 1s forwards;
}

.card__article_JAVA:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_JAVA:not(:hover) .card__data_JAVA {
    animation: remove-data 1s forwards;
}

.card__article_REACT:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_REACT:not(:hover) .card__data_REACT {
    animation: remove-data 1s forwards;
}

.card__article_POSTGRES:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_POSTGRES:not(:hover) .card__data_POSTGRES {
    animation: remove-data 1s forwards;
}

.card__article_MYSQL:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_MYSQL:not(:hover) .card__data_MYSQL {
    animation: remove-data 1s forwards;
}

.card__article_GITHUB:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_GITHUB:not(:hover) .card__data_GITHUB {
    animation: remove-data 1s forwards;
}

.card__article_GIT:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article_GIT:not(:hover) .card__data_GIT {
    animation: remove-data 1s forwards;
}

/*Animaciones de las cartas*/

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/*Aquí termina el apartado de habilidades*/

/*Inicio de las barras de progreso de los lenguajes*/

.progress_HTML {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #E34E26;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_HTML::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #E34E26, #E34E26);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #EF642A;
    animation: progress_HTML 2s linear infinite;
}

@keyframes progress_HTML {

    50%,
    100% {
        width: 80%;
    }
}

.progress_CSS {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #2D54E5;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_CSS::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #2D54E5, #2D54E5);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #2D54E5;
    animation: progress_CSS 2s linear infinite;
}

@keyframes progress_CSS {

    50%,
    100% {
        width: 80%;
    }
}

.progress_JAVA {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #EFD81D;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_JAVA::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #EFD81D, #EFD81D);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #EFD81D;
    animation: progress_JAVA 2s linear infinite;
}

@keyframes progress_JAVA {

    50%,
    100% {
        width: 40%;
    }
}

.progress_REACT {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #1399C4;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_REACT::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #1399C4, #1399C4);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #1399C4;
    animation: progress_REACT 2s linear infinite;
}

@keyframes progress_REACT {

    50%,
    100% {
        width: 60%;
    }
}

.progress_POSTGRES {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #31648C;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_POSTGRES::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #31648C, #31648C);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #31648C;
    animation: progress_POSTGRES 2s linear infinite;
}

@keyframes progress_POSTGRES {

    50%,
    100% {
        width: 50%;
    }
}

.progress_MYSQL {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #09668E;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_MYSQL::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #09668E, #09668E);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #09668E;
    animation: progress_MYSQL 2s linear infinite;
}

@keyframes progress_MYSQL {

    50%,
    100% {
        width: 40%;
    }
}

.progress_GITHUB {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #080808;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_GITHUB::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #080808, #080808);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #080808;
    animation: progress_GITHUB 2s linear infinite;
}

@keyframes progress_GITHUB {

    50%,
    100% {
        width: 80%;
    }
}

.progress_GIT {
    height: 0.5rem;
    width: 6rem;
    border-color: #000;
    border-radius: 20px;
    transform: scale(3);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #F05539;
    margin-left: 5rem;
    margin-top: 1rem;
}

.progress_GIT::before {
    content: '';
    position: absolute;
    background: linear-gradient(120deg, #F05539, #F05539);
    background-size: 150% 150%;
    height: 0.5rem;
    width: 1%;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #F05539;
    animation: progress_GIT 2s linear infinite;
}

@keyframes progress_GIT {

    50%,
    100% {
        width: 60%;
    }
}

/*Fin de las barras de progreso de los lenguajes*/

/*Inicio del apartado Historia*/

.history_container {
    background-color: #F6F6F6;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem;
}

.history_container h2 {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}

.history_container p {
    position: relative;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-top: 4rem;
}

.small-line {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 142rem;
    margin: 0 auto;
    height: 1px;
    width: 50px;
    background-color: #666;
}

.education_container {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.education_container::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #1b3231;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    z-index: 1;
    box-shadow: 0 0 10px #666;
}

.history {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    position: relative;
}

.history::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: #DCDFD9;
    border: 2px solid #1b3231;
    position: absolute;
    z-index: 2;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
}

.info1 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(42% + 20px);
    font-size: 1.2rem;
    font-weight: normal;
}

.info2 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(42% + 20px);
    font-size: 1.2rem;
    font-weight: normal;
}

.info3 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(42% + 20px);
    font-size: 1.2rem;
    font-weight: normal;
}

.info4 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(42% + 20px);
    font-size: 1.2rem;
    font-weight: normal;
}

.info5 h3 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30rem;
    font-size: 1.2rem;
    font-weight: normal;
    margin-left: 5rem;
    margin-top: 13rem;
}

.info6 h3 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30rem;
    font-size: 1.2rem;
    font-weight: normal;
    margin-left: -3rem;
}

.img_history_SENA img {
    width: 8rem;
    vertical-align: top;
    margin-left: 11rem;
    margin-top: 0.5rem;
}

.img_history_RUTA img {
    width: 22rem;
    vertical-align: top;
    margin-right: 3rem;
}

.img_history_HCJ img {
    width: 22rem;
    vertical-align: top;
    margin-right: 10rem;
    top: 10rem;
}

.img_history_CO img {
    width: 26rem;
    vertical-align: top;
    margin-left: 1rem;
    top: 10rem;
}

.img_history_BS img {
    width: 32rem;
    vertical-align: top;
    margin-left: -6rem;
    top: 10rem;
}

.img_history_SP img {
    width: 29rem;
    vertical-align: top;
    margin-left: 3rem;
    top: 10rem;
}

.history:nth-child(even) {
    flex-direction: row-reverse;
}

.history:nth-child(even) .info {
    justify-content: end;
}

.date {
    color: #666;
    font-size: 0.8rem;
    top: -0.5rem;
    margin-right: 4.5rem;
}

.date2 {
    color: #666;
    font-size: 0.8rem;
    top: 11.5rem;
    margin-right: -7rem;
}

.date3 {
    color: #666;
    font-size: 0.8rem;
    top: 2.7rem;
    margin-left: -17rem;
}

.date4 {
    color: #666;
    font-size: 0.8rem;
    top: 1.5rem;
    margin-left: 6.4rem;
}

.date5 {
    color: #666;
    font-size: 0.8rem;
    top: 11.6rem;
    margin-left: 15rem;
}

.date6 {
    color: #666;
    font-size: 0.8rem;
    top: 2.2rem;
    margin-right: 5rem;
}

/*Fin del apartado Historia*/

/*Inicio del apartado Contacto*/

.container_contact h1 {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 5rem;
}

.container_contact p {
    position: relative;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.contacto {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin-top: 2rem;
}

.icons-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
}

.fab {
    color: #000;
    font-size: 2.5rem;
    padding: 0;
}

.fa-github:hover {
    color: #000;
}

.fa-linkedin:hover {
    color: #126BC4;
}

.contacto:hover i {
    filter: blur(2px);
}

.contacto a i:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.scroll-up {
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scroll-up a {
    display: block;
    width: 5rem;
    height: 6rem;
    position: relative;
    animation: scrollBounce 2s infinite;
}

.scroll-up a img {
    color: #fff;
    position: relative;
    transform: translate(-50%, -50%);
    border-width: 0 3px 3px 0;
    padding: 2rem;
    display: block;
    width: 2rem;
    height: 2.5rem;
    transform: rotate(1deg);
}

@keyframes scrollBounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(13px);
    }

    100% {
        transform: translateY(0);
    }
}

/*Fin del apartado Contacto*/

/*Responsive*/

@media (max-width: 992px) {
    .Header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .Navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #1A1A1A;
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.Navbar {
        height: 17.7rem;
    }

    .Navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.Navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

@media (max-width: 375px) {

    .main_container {
        height: 42rem;
    }

    .main_container .background-image img {
        height: 42rem;
    }

    /*IMAGEN PRINCIPAL*/

    .introduction h1 {
        font-size: 2rem;
    }

    /*MI NOMBRE*/

    .phrase h4 {
        font-size: 1rem;
        width: 15rem;
    }

    /*Frase de inicio*/

    .Header {
        height: 0.1rem;
    }

    .Header .home-link {
        margin-top: 0;
    }

    .Header .icons {
        margin-top: 0;
    }

    .Header a {
        height: 0.89rem;
    }

    .Header i {
        margin-top: 1.3rem;
    }

    /*Header*/

    .Navbar {
        display: block;
        height: 0.1rem;
    }

    #check:checked~.Navbar {
        height: 12rem;
    }

    /*NAVBAR*/

    .welcome h1 {
        font-size: 1.5rem;
    }

    .welcome p {
        font-size: 0.8rem;
    }

    /*Titulo: HOLA Y BIENVENIDO*/

    /*Cartas*/
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .card__article_HTML {
        width: 13rem;
        height: 15rem;
        margin-left: -6.5rem;
    }

    .card__img_HTML {
        height: 8.5rem;
        width: 15rem;
        margin-left: -0.9rem;
    }

    .card__title {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .progress_HTML {
        width: 3rem;
    }

    .card__data_HTML {
        top: 16rem;
        margin-left: -1.8rem;
    }

    /*HTML*/

    .card__article_CSS {
        width: 13rem;
        height: 15rem;
        margin-left: -6.5rem;
    }

    .card__img_CSS {
        height: 8.5rem;
        width: 8rem;
        margin-left: 2.5rem;
    }

    .progress_CSS {
        width: 3rem;
    }

    .card__data_CSS {
        top: 16rem;
        margin-left: -1.8rem;
    }

    /*CSS*/

    .card__article_JAVA {
        width: 13rem;
        height: 15rem;
        margin-left: -6.5rem;
    }

    .card__img_JAVA {
        height: 8.5rem;
        width: 8rem;
        margin-left: 2.5rem;
    }

    .progress_JAVA {
        width: 3rem;
    }

    .card__data_JAVA {
        top: 16rem;
        margin-left: -1.8rem;
    }

    /*JAVA*/

    .card__article_REACT {
        width: 13rem;
        height: 15rem;
        margin-left: -6.5rem;
    }

    .card__img_REACT {
        height: 6.5rem;
        width: 8rem;
        margin-left: 2.5rem;
        margin-top: 2rem;
    }

    .progress_REACT {
        width: 3rem;
    }

    .card__data_REACT {
        top: 16rem;
        margin-left: -1.8rem;
    }

    /*REACT*/

    .card__article_POSTGRES {
        width: 13rem;
        height: 15rem;
        margin-left: -6.5rem;
    }

    .card__img_POSTGRES {
        height: 6.5rem;
        width: 8rem;
        margin-left: 2.5rem;
        margin-top: 2rem;
    }

    .progress_POSTGRES {
        width: 3rem;
    }

    .card__data_POSTGRES {
        top: 16rem;
        margin-left: -1.8rem;
    }

    /*POSTGRES*/

    .card__article_MYSQL {
        width: 13rem;
        height: 15rem;
        margin-left: -6.5rem;
    }

    .card__img_MYSQL {
        height: 6.5rem;
        width: 11rem;
        margin-left: 1.2rem;
        margin-top: 2rem;
    }

    .progress_MYSQL {
        width: 3rem;
    }

    .card__data_MYSQL {
        top: 16rem;
        margin-left: -1.8rem;
    }

    /*MYSQL*/

    .card__article_GITHUB {
        width: 13rem;
        height: 15rem;
        margin-left: -6.5rem;
    }

    .card__img_GITHUB {
        height: 6.5rem;
        width: 7rem;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .progress_GITHUB {
        width: 3rem;
    }

    .card__data_GITHUB {
        top: 16rem;
        margin-left: -1.8rem;
    }

    /*GITHUB*/

    .card__article_GIT {
        width: 13rem;
        height: 15rem;
        margin-left: -6.5rem;
    }

    .card__img_GIT {
        height: 6.5rem;
        width: 7rem;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .progress_GIT {
        width: 3rem;
    }

    .card__data_GIT {
        top: 16rem;
        margin-left: -1.8rem;
    }

    /*GIT*/

    .history_container h2 {
        font-size: 1.7rem;
        width: 18rem;
        margin-left: -1rem;
    }

    /*Texto: MI VIAJE EN EL MUNDO DE LA PROGRAMACIÓN*/

    .small-line {
        margin-top: 101rem;
    }

    /*LINEA DE HABILIDADES*/

    .container_contact h1 {
        font-size: 1.5rem;
        width: 18rem;
        margin-left: 2.5rem;
    }

    .scroll-up a img {
        transform: rotate(360deg);
        margin-left: -0.5rem;
    }

    /*CONTACTO*/

    /*MI VIAJE POR EL MUNDO DE LA PROGRAMACIÓN*/
    .education_container::after {
        display: none;
    }

    .history::after {
        display: none;
    }

    .img_history_SENA img {
        width: 6.5rem;
        margin-left: 4rem;
    }

    .small-line {
        top: 122rem;
    }

    .date {
        top: 5.5rem;
        margin-left: -6.5rem;
    }

    .info1 {
        margin-left: -14rem;
        margin-top: 14rem;
        font-size: 1.1rem;
        width: 14rem;
    }

    .img_history_RUTA img {
        width: 10rem;
        margin-left: -12rem;
        margin-top: -9rem;
    }

    .date2 {
        top: 5rem;
        margin-left: -22rem;
    }

    .info2 {
        margin-left: -0.3rem;
        margin-top: 14rem;
        font-size: 1.1rem;
        width: 14rem;
    }

    .img_history_HCJ img {
        width: 15rem;
        margin-left: -0.5rem;
        margin-top: -8rem;
    }

    .date3 {
        top: 0;
        margin-left: -20rem;
    }

    .info3 {
        margin-left: -9rem;
        margin-top: 9rem;
        font-size: 1.1rem;
        width: 13rem;
    }

    .img_history_CO img {
        width: 15rem;
        margin-left: -14.5rem;
        margin-top: -7rem;
    }

    .date4 {
        top: -1rem;
        margin-left: -15rem;
    }

    .info4 {
        margin-left: 0rem;
        margin-top: 7rem;
        font-size: 1.1rem;
        width: 14rem;
    }

    .img_history_BS img {
        width: 17rem;
        margin-left: -1.5rem;
        margin-top: -7rem;
    }

    .date5 {
        top: 9rem;
        margin-left: -12rem;
    }

    .info5 h3 {
        margin-left: -9rem;
        margin-top: 17rem;
        font-size: 1.1rem;
        width: 14rem;
    }

    .img_history_SP img {
        width: 14rem;
        vertical-align: top;
        margin-left: 6rem;
    }

    .date6 {
        top: 5rem;
        margin-left: -12rem;
    }

    .date6 h3{
        margin-left: 0rem;
        font-size: 1.1rem;
        width: 0rem;
        margin-top: 11rem;
    }
}

@media screen and (max-width:340px) {
    .cards_container {
        margin-inline: 1rem;
    }

    .card__data_HTML {
        width: 230px;
        padding: 1rem;
    }

    .card__data_CSS {
        width: 230px;
        padding: 1rem;
    }

    .card__data_JAVA {
        width: 230px;
        padding: 1rem;
    }

    .card__data_REACT {
        width: 230px;
        padding: 1rem;
    }

    .card__data_POSTGRES {
        width: 230px;
        padding: 1rem;
    }

    .card__data_MYSQL {
        width: 230px;
        padding: 1rem;
    }

    .card__data_GITHUB {
        width: 230px;
        padding: 1rem;
    }

    .card__data_GIT {
        width: 230px;
        padding: 1rem;
    }
}